<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${patients} and ${patients.size()}">no patients :(</p>

<table class="table">

    <tr>
        <th>Case #</th>
        <th>Species</th>
        <th>Location</th>
        <th>Band</th>
        <th>Disposition</th>
        <th>Date Admitted</th>
    </tr>

    <tr th:each="patient : ${patients}">
        <td><a th:href="'patient/view/' + ${patient.getId()}" th:text="${patient.getId()}" /></td>
        <td><a th:href="'patient/view/' + ${patient.getId()}" th:text="${patient.getSpecies_name()}" /></td>
        <td th:text="${patient.location}"></td>
        <td th:text="${patient.band}"></td>
        <td th:text="${patient.disposition}"></td>
        <td th:text="${patient.date_admitted}"></td>
    </tr>

</table>

<a href="/patient/create">Create</a>

</body>
</html>