<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container" th:object="${patient}">

<nav th:replace="fragments :: navigation"></nav>
<br /><br /><br />
<div style="position: relative; left: 180px; right: 10px;">
<table>
    <tr>
        <td style="vertical-align: top;">
            <nav th:replace="fragments :: side-navigation"></nav>
        </td>
        <td>
            <h1 th:text="${patient.id}"></h1>

            <table>
                <tr>
                    <td>
                        <table>
                            <tr><div class="form-group">
                                <td width="150">Case Year</td>
                                <td th:text="${patient.caseYear}"></td>
                                <td></td>
                                <td></td>
                            </div></tr>


                            <tr><div class="form-group">
                                <td width="150">Reference&nbsp;Number</td>
                                <td th:text="${patient.referenceNumber}"></td>
                            </div>
                            <div class="form-group">
                                <td width="150">Microchip&nbsp;Number</td>
                                <td th:text="${patient.microchipNumber}"></td>
                            </div></tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><h3 class="text-warning">Species</h3></td>
                            </tr>

                            <tr><div class="form-group">
                                <td width="150">Common Name</td>
                                <td colspan="3" th:text="${patient.speciesName}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Number of Patients</td>
                                <td colspan="3" th:text="${patient.numberOfPatients}"></td>
                            </div></tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><h3 class="text-warning">Rescuer Contact</h3></td>
                            </tr>

                            <tr><div class="form-group">
                                <td width="150">Organization</td>
                                <td></td>
                            </div><div class="form-group">
                                <td width="150">Phone&nbsp;Number</td>
                                <td></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">First&nbsp;Name</td>
                                <td th:text="${patient.rescuerId}"></td>
                            </div><div class="form-group">
                                <td width="150">Alt.&nbsp;Phone&nbsp;Number</td>
                                <td></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Last&nbsp;Name</td>
                                <td></td>
                            </div><div class="form-group">
                                <td width="150">Email</td>
                                <td></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>No&nbsp;Solicitations</td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Address</td>
                                <td colspan="3"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">City, State</td>
                                <td></td>
                            </div><div class="form-group">
                                <td width="150">Postal&nbsp;Code</td>
                                <td></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Rescuer Notes</td>
                                <td colspan="3" th:text="${patient.rescuerNotes}"></td>
                            </div></tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><h3 class="text-warning">Donation</h3></td>
                            </tr>

                            <tr><div class="form-group">
                                <td width="150">Method</td>
                                <td th:text="${patient.donationId}"></td>
                            </div><div class="form-group">
                                <td width="150">Value</td>
                                <td></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Comments</td>
                                <td colspan="3"></td>
                            </div></tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><h3 class="text-warning">Intake</h3></td>
                            </tr>

                            <tr><div class="form-group">
                                <td width="150">Admitted&nbsp;By</td>
                                <td th:text="${patient.admittedBy}"></td>
                            </div><div class="form-group">
                                <td width="150">Transported&nbsp;By</td>
                                <td th:text="${patient.transportedBy}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Address&nbsp;Found</td>
                                <td colspan="3" th:text="${patient.addressFound}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">City&nbsp;Found</td>
                                <td th:text="${patient.cityFound}"></td>
                            </div><div class="form-group">
                                <td width="150">State&nbsp;Found</td>
                                <td th:text="${patient.stateFound}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">County&nbsp;Found</td>
                                <td th:text="${patient.countyFound}"></td>
                            </div><div class="form-group">
                                <td width="150">Date&nbsp;Found</td>
                                <td th:text="${patient.dateFound}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Reasons&nbsp;For&nbsp;Admission</td>
                                <td colspan="3" th:text="${patient.reason}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Care&nbsp;By&nbsp;Rescuer</td>
                                <td colspan="3" th:text="${patient.careFromUser}"></td>
                            </div></tr>

                            <tr><div class="form-group">
                                <td width="150">Notes&nbsp;About&nbsp;Rescue</td>
                                <td colspan="3" th:text="${patient.notesAboutRescue}"></td>
                            </div></tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br />
            <a th:href="'/patient/edit/' + ${patient.getId()}">Edit Patient Record</a>
            <br />
        </td>
    </tr>
</table>
</div>
</body>
</html>