<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Wildlife Intake Application</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" href="../">WILDLIFE INTAKE APPLICATION</a>
</nav>

<nav style="position: fixed; left: 20px;" th:fragment="side-navigation">
    <table width="174px">
        <tr>
            <td>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action warning">Quick Search</a>
                    <a href="#" class="list-group-item list-group-item-action">text box w/ button</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action warning">Recent Patients</a>
                    <a href="#" class="list-group-item list-group-item-action">Patient 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Patient 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Patient 3</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action warning">Quick Links</a>
                    <a href="../" class="list-group-item list-group-item-action">Dashboard</a>
                    <a href="/patient/create" class="list-group-item list-group-item-action">Add New Patient</a>
                    <a href="/patient" class="list-group-item list-group-item-action">List Patients</a>
                    <a href="#" class="list-group-item list-group-item-action">Search Patients</a>
                    <a href="#" class="list-group-item list-group-item-action">Reports</a>
                    <a href="#" class="list-group-item list-group-item-action">Analytics</a>
                </div>

            </td>
        </tr>
    </table>
</nav>

</body>
</html>