<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<br /><br /><br />
<article style="position: relative; left: 180px; right: 10px;">
    <table>
        <tr>
            <td style="vertical-align: top;">
                <nav th:replace="fragments :: side-navigation"></nav>
            </td>
            <td>
                <h1 th:text="${title}">Default Title</h1>
                <br />
                <table>
                    <tr>
                        <td style="text-align:center;" width="175">
                            <article th:each="p : ${countByCaseYear}">Cases in 2019
                                <p th:text="${countByCaseYear}">number</p></article></td>
                        <td style="text-align:center;" width="175">
                            <article th:each="p : ${findByDateAdmittedWithinSevenDays}">Cases This week
                                <p th:text="${findByDateAdmittedWithinSevenDays}">number</p></article></td>
                        <td style="text-align:center;" width="175">
                            <article th:each="p : ${countByCaseYear}">2019 Cases in Care
                                <p th:text="${countByCaseYear}">number</p></article></td>
                        <td style="text-align:center;" width="175">Total Cases<p th:text="${count}">number</p></td>
                    </tr>

                </table>

                <!--nvd3 graphs/charts-->
                <br /><br />Total Cases Per Day in 2019
                <br /><svg></svg>
                <script src="https://d3js.org/d3.v4.min.js"></script>
            </td>
        </tr>
    </table>
</article>
</body>
</html>