<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<br /><br /><br />
<div style="position: relative; left: 180px; right: 10px;">
<table>
    <tr>
        <td style="vertical-align: top;">
            <nav th:replace="fragments :: side-navigation"></nav>
        </td>
        <td>
            <h1 th:text="${title}">Default Title</h1>

            <p th:unless="${patients} and ${patients.size()}">no patients :(</p>

            <table class="table table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Case&nbsp;#</th>
                    <th scope="col" width="200">Species</th>
                    <th width="10">&nbsp;</th>
                    <th scope="col">Location</th>
                    <th scope="col">Band</th>
                    <th scope="col">Disposition</th>
                    <th scope="col">Date&nbsp;Admitted</th>
                </tr>
                </thead>

                <tbody>
                <tr class="table-dark" th:each="patient : ${patients}">
                    <td><a th:href="'view/' + ${patient.getId()}" th:text="${patient.getId()}" /></td>
                    <td><a th:href="'view/' + ${patient.getId()}" th:text="${patient.getSpeciesName()}" /></td>
                    <td>&nbsp;</td>
                    <td th:text="${patient.location}"></td>
                    <td th:text="${patient.band}"></td>
                    <td th:text="${patient.disposition}"></td>
                    <td th:text="${patient.dateAdmitted}"></td>
                </tr>
                </tbody>
            </table>

            <br />
            <div style="text-align: center;">
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </td>
    </tr>
</table>
</div>
</body>
</html>